html{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header{
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: black;
  width: 100%;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  top: 0px;
}

a{
  color: seashell;
}

.logo{
  margin-left: 10px;
}

.logo img{
  height: 50px;
}

nav{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
}

span{
  margin-left: 20px;
}

.mission{
  background-image:url('../images/mission-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

.missionDescription{
  background-color: black;
  z-index: 1;
}

.monthTea{
  width: 1000px;
  margin: auto;
}

.selections{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selections img{
  height: 200px;
  width: 300px;
}

.teas{
  padding-bottom: 50px;
}
