html{
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header{
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: black;
  width: 100%;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  top: 0px;
}

a{
  color: seashell;
}

.logo{
  margin-left: 10px;
}

.logo img{
  height: 50px;
}

nav{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 20px;
}

span{
  margin-left: 20px;
}

.mission{
  margin-top: 70px;
  background-image:url('../images/mission-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

.missionDescription{
  display: inline-block;
  margin-top: 310px;
  background-color: black;
  width: 100%;
}

.teas{
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.selections{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selections img{
  height: 200px;
  width: 300px;
  margin: 10px;
}

.selections h4{
  margin-top: 0px;
}

.locations{
  height: 500px;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
}

.address{
  display: flex;
  justify-content: center;
}

.locations h2{
  margin-bottom: 15px;
}

.loc{
  opacity: 1;
  margin: 20px;
  width: 300px;
  background-color: black;
  line-height: 1.5;
  margin-top: 0px;
}

.contact{
  height: 200px;
}

.footer{
  text-align: left;
  margin-left: 20px;
}
